
.featured-crop {
    height: 100vh !important;
    overflow: hidden !important;
}
#featured-image {
    display: none !important;
}
#featured-carousel {
    display: none !important;
}
@media (min-width: 768px) {
    #featured-image {
        display: block !important;
    }
    #featured-carousel {
        display: none !important;
    }
}
@media (min-width: 992px) {
    #featured-image {
        display: none !important;
    }
    #featured-carousel {
        display: block !important;
    }
}